body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.dashboard-container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0 px 10px rgba(0, 0, 0, 0.1);
}

h2,h3 {
    color: black;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: aquamarine;
    text-align: left;
    margin-bottom: 5px;
    font-size: 15px;
}

button {
    background-color: rgb(62, 18, 123);
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 3px;
}

.actions-dashboard {
    display: none;
}

.student .actions-student{
    display: block;
}

.tutor .actions-tutor {
    display: block;
}

footer {
    position: absolute;
    bottom: 5px;
    text-align: left;
    color: black;
    width: 100%;
    font-size: 10px;
}
